@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Rammetto+One&display=swap');

:root {
  --font-family: "Nerko One", sans-serif;
  --second-family: "Rammetto One", sans-serif;
}

body {
  margin: 0;
  scroll-behavior: smooth;  
}

img {
  max-width: 100%;
  height: auto;
}

@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      max-width: 1200px;
  }
}

.navbar {
  background-color: #ff001a;;
  height: 80px;
}

.navbar-nav {
  display: flex;
  gap: 32px;
}

.navbar-brand {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 0.05em;
  color: #fff;
}

.nav-link {
  padding: 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 0.05em;
  color: #fff;
  text-transform: uppercase;
}

.hero {
  background: url("../assets/img/mainbg.png") no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 110px 0px;
}

h1, p {
  margin-bottom: 0;
}

.hero-container {
  padding: 0 150px;
}

.hero-subtitle {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 48px;
  line-height: 267%;
  letter-spacing: 0.03em;
  color: #fff;
  text-transform: uppercase;
  -webkit-text-stroke: 2px #FF11CB; 
}

.hero-title {
  margin-top: -40px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 128px;
  line-height: 100%;
  letter-spacing: 0.01em;

  background: linear-gradient(90deg, #fff9cf 0%, #ff0 100%);
  background-clip: text;
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;


  -webkit-text-stroke: 4px #FF11CB; 
}

.hero-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: 0.03em;
  color: #fff;
  margin-bottom: 25px;
}

.hero-btn-buy {
  border: 3px solid #ffffe0;
  border-radius: 16px;
  background: #ff1115;
  padding: 20px 35px;
  text-align: center;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  color: #ffffe0;
  text-transform: uppercase;
  text-decoration: none;
  width: 280px;
}

.hero-btn-chart {
  border: 3px solid #fff;
  border-radius: 16px;
  background: #0059ff;
  padding: 20px 35px;
  text-align: center;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.hero-buttons {
  margin-top: 27px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.redmoon {
  position: absolute;
  top: 0;
  left: 25%;
}

.sputnik {
  position: absolute;
  top: 7%;
  left: 18%;
}

.moon {
  position: absolute;
  top: 0;
  right: 0;
}

.meteor {
  position: absolute;
  bottom: 5%;
  right: 5%;
}

.dale {
  position: absolute;
  bottom: 0%;
  right: 14%;
}

.dalecoin1 {
  position: absolute;
  top: 25%;
  right: 30%;
}

.dalecoin2 {
  position: absolute;
  bottom: -12%;
  right: 10%;
}

.about {
  background: #081e8a;
  padding: 100px 0;
}

.section-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 96px;
  line-height: 133%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  -webkit-text-stroke: 2px #FF11CB; 
}

.section-title span {
  background: linear-gradient(90deg, #fff9cf 0%, #ff0 100%);
  background-clip: text;
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 4px #FF11CB; 
}

.about-container {
  display: flex;
  gap: 50px;
  margin-top: 50px;
}

.about-container-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: 0.03em;
  color: #fff;
  margin-bottom: 20px;
}

.about-container-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 0.05em;
  color: #fff;
}

.about-container-content {
  padding: 50px 0;
}

.why-container {
  margin-top: 80px;
}

.why-blocks {
  display: flex;
  gap: 32px;
}

.why-block {
  border: 3px solid #fff;
  border-radius: 16px;
  width: 378px;
  min-height: 341px;
  padding: 35px;
  margin-top: 35px;
  flex: 1;
}

.why-block-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: 0.03em;
  color: #fff;
  margin-bottom: 20px;
}

.why-block-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 0.05em;
  color: #fff;
}

.joinus {
  background: url("../assets/img/joinusbg.png") no-repeat center center/cover;
  padding-top: 60px;
  padding-bottom: 100px; 
}

.join-text {
  margin-top: 20px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-align: center;
  color: #fff;
}

.join-buttons {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.join-btn {
  border: 3px solid #fff;
  border-radius: 16px;
  padding: 19px 35px;
  background: #0059ff;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  color: #fff;
  text-decoration: none;
}