@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Rammetto+One&display=swap');

:root {
  --font-family: "Nerko One", sans-serif;
  --second-family: "Rammetto One", sans-serif;
}

body {
  margin: 0;
  scroll-behavior: smooth;  
}

img {
  max-width: 100%;
  height: auto;
}

@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      max-width: 1200px;
  }
}

.navbar {
  background-color: #ff001a;;
  height: 80px;
}

.navbar-nav {
  display: flex;
  gap: 32px;
}

.navbar-brand {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 0.05em;
  color: #fff;
}

.nav-link {
  padding: 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 0.05em;
  color: #fff;
  text-transform: uppercase;
}

.hero {
  background: url("../assets/img/mainbg.png") no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 110px 0px;
}

h1, p {
  margin-bottom: 0;
}

.hero-container {
  padding: 0 150px;
}

.hero-subtitle {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 48px;
  line-height: 267%;
  letter-spacing: 0.03em;
  color: #fff;
  text-transform: uppercase;
  -webkit-text-stroke: 2px #FF11CB; 
}

.hero-title {
  margin-top: -40px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 128px;
  line-height: 100%;
  letter-spacing: 0.01em;

  background: linear-gradient(90deg, #fff9cf 0%, #ff0 100%);
  background-clip: text;
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;


  -webkit-text-stroke: 4px #FF11CB; 
}

.hero-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: 0.03em;
  color: #fff;
  margin-bottom: 25px;
}

.hero-btn-buy {
  border: 3px solid #ffffe0;
  border-radius: 16px;
  background: #ff1115;
  padding: 20px 35px;
  text-align: center;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  color: #ffffe0;
  text-transform: uppercase;
  text-decoration: none;
  width: 280px;
}

.hero-btn-chart {
  border: 3px solid #fff;
  border-radius: 16px;
  background: #0059ff;
  padding: 20px 35px;
  text-align: center;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.hero-buttons {
  margin-top: 27px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.redmoon {
  position: absolute;
  top: 0;
  left: 25%;
}

.sputnik {
  position: absolute;
  top: 7%;
  left: 18%;
}

.moon {
  position: absolute;
  top: 0;
  right: 0;
}

.meteor {
  position: absolute;
  bottom: 5%;
  right: 5%;
}

.dale {
  position: absolute;
  bottom: 0%;
  right: 14%;
}

.dalecoin1 {
  position: absolute;
  top: 25%;
  right: 30%;
}

.dalecoin2 {
  position: absolute;
  bottom: -12%;
  right: 10%;
}

.about {
  background: #081e8a;
  padding: 100px 0;
}

.section-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 96px;
  line-height: 133%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  -webkit-text-stroke: 2px #FF11CB; 
}

.section-title span {
  background: linear-gradient(90deg, #fff9cf 0%, #ff0 100%);
  background-clip: text;
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 4px #FF11CB; 
}

.about-container {
  display: flex;
  gap: 50px;
  margin-top: 50px;
}

.about-container-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: 0.03em;
  color: #fff;
  margin-bottom: 20px;
}

.about-container-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 0.05em;
  color: #fff;
}

.about-container-content {
  padding: 50px 0;
}

.why-container {
  margin-top: 80px;
}

.why-blocks {
  display: flex;
  gap: 32px;
}

.why-block {
  border: 3px solid #fff;
  border-radius: 16px;
  width: 378px;
  min-height: 341px;
  padding: 35px;
  margin-top: 35px;
  flex: 1;
}

.why-block-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: 0.03em;
  color: #fff;
  margin-bottom: 20px;
}

.why-block-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 0.05em;
  color: #fff;
}

.joinus {
  background: url("../assets/img/joinusbg.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 60px;
  padding-bottom: 100px; 
}

.join-text {
  margin-top: 20px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-align: center;
  color: #fff;
}

.join-buttons {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.join-btn {
  border: 3px solid #fff;
  border-radius: 16px;
  padding: 19px 35px;
  background: #0059ff;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  color: #fff;
  text-decoration: none;
}

.tokenomics {
  padding: 80px 0;
  background: #3e0180;
}

.token-title {
  color: #efff15;
  margin-bottom: 30px; 
}

.token-ca {
  border: 4px solid #fff;
  border-radius: 32px;
  padding: 20px 36px;
  background: #ff1115;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: 0.03em;
  color: #fff;
  white-space: nowrap;
  margin-bottom: 32px;
}

.token-ca span {
  font-size: 46px;
}

.token-info {
  display: flex;
  gap: 32px;
  flex: 1;
  justify-content: space-between;
}

.token-big-block {
  border: 4px solid #fff;
  border-radius: 32px;
  padding: 38px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

.token-block-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: 0.03em;
  color: #fff;
}

.token-block-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 0.05em;
  color: #fff;
}

.token-small-block {
  border: 4px solid #fff;
  border-radius: 32px;
  padding: 20px 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  margin-top: 32px;
}

.howtobuy {
  background: #070452;
  padding: 80px 0;
}

.howtobuy-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-align: center;
  color: #fff;
  padding: 20px 120px 40px 120px;
}

.buy-blocks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.buy-block {
  border: 4px solid #fff;
  border-radius: 32px;
  min-height: 516px;
  padding: 36px;
  width: 33.3%;
}

.buy-step {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: 0.03em;
  color: #ff11cb;
  margin-bottom: 16px;
}

.buy-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: 0.03em;
  color: #fff;
  margin-bottom: 20px;
}

.buy-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 0.05em;
  color: #fff;
}

.footer {
  padding: 32px 0;
  background: #ff0019;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: 0.03em;
  color: #fff;
  margin-bottom: 5px;
}

.footer-link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 0.05em;
  color: #fff;
  margin-bottom: 8px;
  text-decoration: none;
  margin-top: 5px;
}

.footer-center-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 128px;
  line-height: 100%;
  letter-spacing: 0.01em;
  color: #ff0019;
  text-shadow: 
    -2px 2px 0 #fff,  
    2px 2px 0 #fff,   
    2px -2px 0 #fff,  
    -2px -2px 0 #fff; 
}


.mob {
  display: none;
}

@media (max-width: 768px) {
  .navbar {
    display: none;
  }

  .hero {
    background: url("../assets/img/mainbgmb.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .redmoon {
    display: none;
  }
  
  .sputnik {
    display: none;
  }
  
  .moon {
    display: none;
  }
  
  .meteor {
    display: none;
  }
  
  .dale {
    display: none;
  }
  
  .dalecoin1 {
    display: none;
  }
  
  .dalecoin2 {
    display: none;
  }

  .hero-subtitle {
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0.05em;
    text-align: center;
    font-family: var(--font-family);
    -webkit-text-stroke: 1px #FF11CB;
  }

  .hero-title {
    font-size: 64px;
    line-height: 200%;
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: -30px;
    -webkit-text-stroke: 1px #FF11CB;
  }

  .hero-container {
    padding: 0;
    margin-top: -25%;
  }

  .hero-text {
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.07em;
    text-align: center;
    margin-top: -20px;
    margin-bottom: 16px;
  }

  .hero-buttons {
    flex-direction: column;
    gap: 16px;
  }

  .hero-btn-buy, .hero-btn-chart {
    width: 326px;
  }

  .mob {
    display: block;
  }

  .dalemb {
    position: relative;
  }

  .moonmb {
    position: absolute;
    top: 5%;
    right: 0;
  }

  .dalecoin1mb {
    position: absolute;
    top: 18%;
  }

  .dalecoin2mb {
    position: absolute;
    top: 47%;
    right: 0;
  }

  .hero {
    display: block;
  }

  .about {
    padding-top: 35px;
    padding-bottom: 80px;
  }

  .section-title {
    font-size: 40px;
    line-height: 320%;
    -webkit-text-stroke: 1px #FF11CB;
  }

  .section-title span {
    -webkit-text-stroke: 1px #FF11CB;
  }

  .about-container {
    flex-direction: column;
    margin-top: 20px;
  }

  .ipump-about {
    order: 2;
  }

  .about-container-content {
    padding-top: 0;
    padding-bottom: 22px;
  }

  .about-container-title {
    text-align: center;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.07em;    
  }

  .about-container-text {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1em;
    text-align: center;
  }

  .why-container {
    margin-top: 50px;
  }

  .why-blocks {
    flex-direction: column;
  }

  .why-block {
    width: 100%;
    min-height: 138px;
  }

  .why-block-title {
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.07em;
    margin-bottom: 16px;
  }

  .why-block-text {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1em;
  }

  .joinus {
    padding: 40px 0;
    background-position: center center;
  }

  .join-text {
    margin-top: 0;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1em;
    text-align: center;
  }

  .join-buttons {
    margin-top: 30px;
    flex-direction: column;
  }

  .join-btn {
    width: 100%;
  }

  .tokenomics {
    padding-top: 40px;
    padding-bottom: 5px;
  }

  .token-ca, .token-ca span {
    font-size: 24px;
    line-height: 120%;
  }

  .token-title {
    margin-bottom: 5px;
  }

  .token-info {
    flex-direction: column;
    margin-bottom: 32px;
  }

  .token-big-block, .token-small-block {
    width: 100%;
    padding: 20px;
  }

  .token-small-block {
    margin-top: 0;
  }

  .token-block-title {
    font-size: 24px;
  }

  .token-block-text {
    font-size: 16px;
  }

  .howtobuy {
    padding: 30px 0;
  }

  .howtobuy-text {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1em;
    text-align: center;
    padding: 0;
    margin-bottom: 36px;
  }

  .buy-blocks {
    flex-direction: column;
  }

  .buy-block {
    width: 100%;
    min-height: 185px;
    border-radius: 32px;
  }

  .buy-step, .buy-title {
    font-size: 24px;
  }

  .buy-text {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1em;
  }
  
  .footer-container {
    flex-direction: column;
    align-items: center;
    min-height: 470px;
    justify-content: start;
  }

  .footer-center {
    order: 1;
  }

  .footer-left {
    order: 2;
    margin-top: 16px;
  }

  .footer-right {
    order: 3;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .footer-center-text {
    font-size: 64px;
    line-height: 62%;
    letter-spacing: 0.03em;
    text-shadow: -1px 1px 0 0 #fff, 1px 1px 0 0 #fff, 1px -1px 0 0 #fff, -1px -1px 0 0 #fff;
  }

  .desktop {
    display: none;
  }

  .footer-text {
    font-size: 24px;
    text-align: center;
  }

  .footer-link {
    font-size: 32px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-align: center;
  }
}